project_name = "project_name"
environment = "environmentName"
location = "location"
location_short = "location_short"
vnet_address_space = ["x.x.x.x/x"]

common_tags = {
    Project = "Project"
    Environment = "Environment"
    Owner = "Owner"
    CreatedBy = "CreatedBy"
}

test_secret_value = "test_secret_value"

vm_size = "vm_size"
admin_username = "admin_user"

name_prefix = "name_prefix"

retention_in_days = retention_in_days

